*{
    padding: 0;
    margin: 0;
    font-family: "HelveticaNeue-Light";
}

button:focus {
    outline:0;
}

/* TABLE OF CONTENTS
* ================= 1. Results container        =================
* ================= 2. Places Container         =================
* ================= 3. Map Container            =================
* ================= 4. Trip Info Container      =================
* ================= A. Animations/Keyframes     =================
* ================= B. Responsive               =================
*/

html{
    background-color: #dedede;
}

header{
    background-color: rgb(1, 133, 113);
    height: 1vh;
}
#mainContainer{
    width: 95%;
    margin: auto;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: repeat(4, 1.5fr);
    grid-auto-rows: minmax(25px, auto);
    grid-template-areas: 
    "search search search search"
    ". . . ."
    ". . . navigation"
    "map map map results";
    text-align: center;
}


#searchContainer{
    grid-area: search;
    text-align: center;
    height: 10vh;
}
    #userPlace{
        width: 40%;
        font-size: 35px;
        padding: 15px 10px 10px 5px;
        border: none;
        background: transparent;
        border-bottom: solid 1px rgb(181, 181, 181);
        color: rgb(45, 45, 45);
    }
    #userPlace:focus{
        outline: 0;
    }
    #clearText{
        font-size: 30px;
        background-color: transparent;
        border: none;
        color: rgb(36, 36, 36);
        visibility: hidden;
    }
    #clearText:hover{
        cursor: pointer;
    }
    ::placeholder{
        font-family: "HelveticaNeue-Light";
        color: rgba(187, 187, 187, 0.577);
    }
    .result_text {
        color: rgb(45, 45, 45);
    }  
    #locationLabel {
        font-size: 15px;
        margin-top: 5px;  
        font-family: "HelveticaNeue-Bold";
        background: transparent;
        border: none;
    }
    #locationLabel:hover{
        color: rgb(108, 108, 108);
        cursor: pointer;
    }
    #location{
        margin-top: 10px;  
        font-size: 20px;
        padding-top: 5px;
    }
    .label{
        font-size: 16px;
        color: white;
        border: none;
    }
    .label:hover{
        cursor: pointer;
        background-color: rgb(67, 67, 67);
    }
    .selected{
        background-color: rgb(1, 133, 113);
    }

    .notSelected{
        background-color: rgb(179, 179, 179);
    }

    .result_container, .places_container, .directions_container{
        text-align: center;
        background: white;
        box-shadow: 0px 0px 10px 1px rgb(174, 174, 174);
        border: solid 1px rgb(176, 176, 176);
        display: none;
        height: 75vh;
    }

    /* ================= 1. RESULTS_CONTAINER ================= */
    .result_container{
        grid-area: results;
    }
        /* ================= 1a) RESULTS LIST CONTAINER ================= */
        #resultList{
        height: 75vh;
        overflow: auto;
        }
            /*  Elements generated from findLocation.js */
            .resultContainer{
                border-bottom: solid 1px rgb(210, 210, 210);
            }
            .resultContainer:hover{
                cursor: pointer;
                background: rgba(135, 135, 135, 0.112);
            }
            .resultLabel, .placesLabel{
                text-align: left;
                padding: 0px 20px 0px 50px;
                font-family: "HelveticaNeue";
            }
            /* Styling for places_container  */
            .placesLabel{
                padding: 0px 20px 0px 90px;
            }
            #storeName, #storeName_places{
                font-size: 16px;
                padding-top: 20px;
                color: rgb(43, 43, 43);
            }
            #storeRating, #storeRating_places{
                padding-top: 10px;
                padding-bottom: 5px;
                color: rgb(27, 143, 107);
                font-size: 15px;
                font-family: "HelveticaNeue-Bold";
            }
            #userRating, #userRating_places{
                color: rgb(43, 43, 43);
                font-family: "HelveticaNeue";
            }
            #storeAddress, #storeAddress_places{
                color: rgb(176, 176, 176);
                font-size: 13px;
            }
            #storeAddress_places{
                padding-bottom: 20px;
            }
            .addBtn, .directionBtn{
                padding: 10px;
                font-size: 12px;
                font-family: "HelveticaNeue";
                color: white;
                border: none;
                margin: 20px 20px;
                cursor: pointer;
            }
            .addBtn{
                background-color: rgb(129, 129, 255);
            }
            .addBtn:hover{
                cursor: pointer;
                background-color: rgb(60, 60, 152);
            }
            .directionBtn{
                background-color: rgb(83, 165, 139);
            }
            .directionBtn:hover{
                cursor: pointer;
                background-color: rgb(30, 104, 81);
            }
            .added{
                padding: 10px;
                font-size: 12px;
                font-family: "HelveticaNeue";
                color: black;
                border: none;
                margin: 20px 20px;
                cursor: pointer;
                background-color: rgb(255, 208, 89);
            }
    #navigationContainer{
        grid-area: navigation;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 50px;
        grid-gap: 5px;
    }
    /* ================= 2. PLACES_CONTAINER ================= */

    .places_container{
        grid-area: places;
    }
        .placesAction{
            font-size: 15px;
            padding: 10px 15px;
            border-radius: 10px;
            background: transparent;
            color: white;
            font-family: "HelveticaNeue";
            margin: 25px 20px;
            border: none;
        }
        .placesAction:hover{
            cursor: pointer;
        }
        #calc{
            background-color: rgb(138, 203, 119);
        }
        #calc:hover{
            background-color: rgb(77, 128, 62);
        }
        #clearList{
            background-color: rgb(210, 92, 92); 
        }
        #clearList:hover{
            background-color: rgb(145, 35, 35); 
        }
    #destText{
        color: black;
        overflow: auto;
        height: 66vh;
    }
        #icon{
            height: 35px;
            width: 35px;
            float: left;
            margin: 35px 0px 0px 30px;
        }


    /* ================= 3. MAP_CONTAINER ================= */
    #mapContainer{
        grid-area: map;
        height: 75vh;
        box-shadow: 0px 0px 10px 2px rgb(36, 36, 36);
    }
    #map{
        height: 100%;
    }

    /* ================= 4. TRIP_INFO_CONTAINER ================= */
    .directions_container{
        grid-area: directions;
        background-color: green;
    }
        .routesInfo{
            width: 200px;
            height: 50px;
            margin: 0px 10px;
            display: inline-block;
        }
            #distanceNumber, #timeNumber{
                color: rgb(255, 153, 0);
                font-size: 40px;
                font-family: "HelveticaNeue-CondensedBold";
            }
            .routesLabel{
                color: rgb(255, 255, 255);
                font-family: "HelveticaNeue-CondensedBold";
                font-size: 20px;
        }

/* ================= A. ANIMATIONS ================= */

.addItemAnimation{
    animation: move 0.5s;
}
@keyframes move {
    50%{
        transform: translateX(475px);
    }
}
.places_container.openFull{
    transform: translateX(200%);
}

.places_container.openSemi{
    transform: translateX(440px);
}

.result_container.open{
    transform: translateX(100%);
}
@keyframes itemAdded {
    50%{
        background-color: rgb(227, 247, 210);
    }
}
.itemAddedAnimation{
    animation: itemAdded .5s;
}

/* ================= B. RESPONSIVE ================= */